[Unit]
Description=yuanrong.service

[Service]
#Type=simple
PIDFile=/run/yuanrong.pid
PassEnvironment=ETCD_PORT ETCD_PEER_PORT ETCD_ADDRESS HOSTNAME AKS_LOCAL_MODE AKERNEL_NODE_IP INSTANCE_IP LITEBUS_DATA_KEY YR_LOG_PATH YR_INSTALLATION_DIR YR_RRT_CONTROL_SOCKET_PATH ENABLE_METRICS ENABLE_TRACE TRAEFIK_MODE TRAEFIK_ENABLE_TLS TRAEFIK_HTTP_ENTRYPOINT YR_ETCD_ADDR_LIST YR_MASTER_ADDRESS YR_DATA_SYSTEM_CLUSTER_NAME YR_DATA_PLANE_NODE_PROXY_ENABLED YR_DATA_PLANE_NODE_PROXY_BIND YR_DATA_PLANE_NODE_PROXY_HEALTH_BIND YR_DATA_PLANE_NODE_PROXY_ALLOW_ANY_EDGE YR_DATA_PLANE_EDGE_FRONTEND_NODE_SECURITY_MODE YR_CPU_NUM_MILLICORES YR_MEMORY_NUM_MB YR_SHARED_MEMORY_NUM_MB
Environment="CONTAINER_EP=unix:///run/sandboxd/sandboxd.sock"
Environment="RUNTIME_HOME_DIR=/home/yuanrong/runtime"
Environment="YR_NOSET_CUDA_VISIBLE_DEVICES=1"
ExecStartPre=-/bin/mkdir -p /home/yuanrong/runtime
ExecStart=/usr/bin/bash /home/yuanrong/yr_node_bootstrap.sh

ExecReload=/bin/kill -15 $MAINPID
KillMode=control-group
Restart=always
RestartSec=5s
Delegate=yes
UMask=000
TasksMax=infinity

[Install]
WantedBy=multi-user.target
